@import "partials/timeline";

@import "partials/presentation";
@import "partials/header";
@import "partials/quote";
@import "partials/footer";
@import "partials/donation";

@import "partials/funding";
@import "partials/story";
@import "partials/support";
@import "partials/share-follow";
@import "partials/news";

:root {
  --color-main-text: #222;
  --color-main-background: #fff;
  --color-main-background-translucent: rgba(var(--color-main-background), .97);

  --color-main-background-dark: darken(var(--color-main-background), 7%);
  --color-main-background-darker: darken(var(--color-main-background), 14%);

  --color-primary: $primary;
  --color-primary-text: #fff;

  --color-primary-text-dark: darken(var(--color-primary-text), 7%);
  --color-primary-element: var(--color-primary);
  --color-primary-element-light: lighten(var(--color-primary-element), 15%);

  --color-error: #e9322d;
  --color-warning: #eca700;
  --color-success: #46ba61;
}

.violet { color: $frama; }
.orange { color: $soft; }

p {
  margin-bottom: 15px;
  font-size: 18px;
}

#app p:last-child {
  margin: 0;
}

/* Sections background */
body {
  .container {
    background: #fff;
    /* margin-bottom: 30px; */
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.how-it-works, .quote {
  &, .container {
    background: lighten($primary, 10%);
    color: #454542;
  }

  span.text-center {
    display: block;
  }
}

.contribute {
  .list-group-item {
    p {
      font-size: 0.9em;
    }
  }
}

.faq h2 {
  margin: 40px 0px;
}

.thumbnail img {
  margin:0;
}

.btn {
  border-radius: 0;
}