
/* Variables */
$primary:       #FBB12C !default;
$secondary:     #403E56 !default;

$danger:        #ff7061;
$info:          #36bcd4;
$success:       #78cc8a;

$frama:         #6a5687 !default;
$soft:          #eb7239;

/* Frameworks */
// @import 'frameworks/bootstrap3';
@import 'frameworks/bootstrap4';

/* Fonts */
@import '../../../node_modules/fork-awesome/css/fork-awesome.min.css';
// @import 'fonts/ptsans_caption';
@import 'fonts/source-sans-pro';
@import 'fonts/multi-light';

@import 'joinmobilizon';
