#funding {
  /* box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.2);*/
  top: -520px;
  padding: 30px;
  border-top: 5px solid #fbb12c;
  background: #fff; /* radial-gradient(circle at 200%, #F7F7FD, #fff); */

  .progress {
    border-radius: 0;
  }

  .progress-bar {
    color: rgba(0, 0, 0, 0.7);
  }

  .progress-meter {
    min-height: 27px;
    margin-bottom: 15px;
    margin-top: -24px;
  }

  .progress-meter > .meter {
    position: relative;
    float: left;
    min-height: 27px;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(221,221,221, 0.5);
  }

  .progress-meter > .meter-right {
    float: right;
    border-right-width: 2px;
  }

  .progress-meter > .meter-right:last-child {
    border-left-width: 0px;
  }

  .progress-meter > .meter > .meter-text {
    position: absolute;
    display: inline-block;
    bottom: -5px;
    width: 100%;
    font-size: 0.8em;
    color: #aaa;
    text-align: right;
    padding-right:2px;
    line-height: 16px;
  }

  .btn {
    border-radius: 1px;
  }

  .btn-lg {
    padding: 1rem;
    margin: 20px 0 30px;
  }

  .card {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;

    img {
      border: 1px solid #ccc;
      max-width: 96px;
      margin-right: 30px;
      margin-bottom: 30px;
      background: #fff;
    }

    h4:after {
      content: " ";
      border-bottom: 5px solid $primary;
      display: block;
      max-width: 60px;
      margin: 10px 0 20px;
    }
  }

  .initiator {
    .card {
      background: transparent;
      border: none;
    }
  }
  .card-body > .card-body {
    padding: 10px;
  }

  .rewards {
    &.disabled {
      opacity: 0.5;
    }

    .card {
      margin-bottom: 30px;
      background: radial-gradient(#fff8f1,#ffddbe);
      border: none;
      border-radius:0;
    }

    .card:nth-child(n+6) {
      background: #fff;
      border: 1px solid #ffddbe;
    }

    small {
      font-style: italic;
    }

    img {
      max-width: 180px;
      height: 180px;
      border: none;
      background: transparent;
      margin: 0 auto;
    }
  }

  .dropdown-toggle:after {
    border-width: 0.35em;
    border-bottom: 0;
    margin-left: 5px;
  }

  .letter-avatar {
    height: 48px;
    width: 48px;
    line-height: 47px;
    border: 1px solid #ccc;
    display: block;
    text-align: center;
    background: #fff;
    font-size: 16px;
    color: #454542;
  }

  .list-group {
    max-height: 280px;
    overflow-y: auto;
    margin-bottom: 20px;
    margin-top:-10px;
  }

  .list-group-item {
    border-left: none;
    border-right:none;
    border-color: #eee;
    cursor: unset;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
      margin-bottom: 20px;
    }

    h5 {
      text-align: left;
      float: left;
      margin-left: 20px;
      .nickname {
        font-size: small;
      }
    }
    .donator-date {
      float: right;
      text-align: right;
      max-width: 80px;
      color: #777;
    }
  }

  .input-group {
    margin-bottom: 20px;

    .input-group-text,
    .form-control {
      border: 2px solid #eee;
      border-radius: 0;
      height: 50px;
    }

    .input-group-text {
      background: #fff;
    }

    .input-group-prepend {
      margin-right: -2px;
    }
  }

  .alert a {
    color: #3f3d56;
    font-weight: bold;
  }
}

@media (max-width: 992px) {
  #funding {
    margin-bottom: -520px;
  }
}

@media (max-width: 576px) {
  #funding {
    margin-top: -20px;
    border-top: none;
    top: auto;
    margin-bottom: 0px;
  }
}
