#news, #faq, #hall-of-fame, #thank-you, #medias {
  background: linear-gradient(to bottom, #fff, #ffddbe); /* #e7e7fa */

  main {
    .container {
      background: transparent;

      a:not(.btn) {
        color: #403E56;
        background: linear-gradient(to top, #fcc86b 2px, transparent 2px);

        &:hover,
        &:focus {
          color:  #212529;
          background: #ffddbe;
          text-decoration: none;
        }
      }

      h4 {
        margin-top: 1.5rem;
      }
    }

    #page-header,
    .bloc {
      padding: 30px;
    }

    #page-header { padding: 30px 0;}

    .bloc {
      margin-bottom: 40px;
      background: #fff;
    }

    ul:not(.list-inline) {
      list-style: url("../img/bullet-o.png");
      padding-left:20px;
    }

    #page-header {
      margin-top: 20px;
    }
  }
}

#news {
  .article {
    background: #fff;
    margin-bottom: 40px;

    p:last-of-type > img,
    img.square {
      max-width: 420px;
      margin: 20px auto;
      display:block;
    }
  }

  .content-wrapper {
    padding: 30px;

    img {
      margin: 15px auto;
    }
  }

  article {
    margin-top: 20px;

    img {
      max-width: 100%;
    }
  }
}

#faq {
  .content-wrapper {
    margin-bottom: 40px;
  }

  .list-group h2 {
    &:after {
      content: " ";
      border-bottom: 5px solid $primary;
      display: block;
      max-width: 80px;
      margin: 10px 0 20px;
    }
  }

  .list-group-item {
    background: #fff;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid $primary;
    border-top: 1px solid $primary;
    margin: 0;

    &:nth-child(odd) {
      border-image: linear-gradient(to right, #fff 40%, $primary) 1;
    }
    &:nth-child(even) {
      border-image: linear-gradient(to right, #fff 20%, $primary) 1;
    }

    &.active {
      color: inherit;
      background: #fff8f1;
      border: none;
      border-left: 3px solid $primary;
      padding-left: calc(1.25rem - 3px);
    }

    &:first-child {
      border-top: none;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}
#hall-of-fame {
  main {
    h3 {
      &:after {
        content: " ";
        border-bottom: 5px solid $primary;
        display: block;
        max-width: 80px;
        margin: 10px 0 20px;
      }
    }

    .bloc {
      margin-left: 0;

      li {
        margin-right: 10px;

        &:nth-of-type(n+2):before {
          content: "\f005";
          font-family: ForkAwesome;
          margin-right: 7px;
          color: #999;
          font-size: small;
        }
      }
    }

    .bloc.rwd1 ul {
      font-size: larger;

      li:nth-of-type(n+2):before {
        color: $primary;
      }

      li:nth-of-type(2n+3):before {
        color: $danger;
      }

      li:nth-of-type(3n+4):before {
        color: $info;
      }
    }

    .bloc.rwd2 ul {
      li:nth-of-type(2n+2):before {
        color: $primary;
      }
    }

    .bloc.rwd3 ul {
      font-size: smaller;
    }
  }
}

#medias {
  .article {
    background: #fff;
    margin-bottom: 40px;
    padding: 30px;
  }

  h5, #mockup {
    margin-top: 20px;
  }

  blockquote {
    border-left: 0.2em solid #333;
    position: relative;
    display: block;
    padding: 10px 20px;
    margin: 15px;
    background: lighten($primary, 10%);
    color: #454542;

    &:before, &:after {
      content: '« ';
      font-family: 'Sanchez';
      color: #333;
    }

    &:after {
      content: ' »';
    }
  }

  .carousel {
    background: lighten($secondary, 30%);
    padding: 20px;
  }

  .carousel img {
    margin: 0px auto 35px;
  }

  .carousel:nth-of-type(2) img {
    max-width: 420px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    background: transparent !important;

    &:hover,
    &:focus {
      background: lighten($secondary, 25%) !important;
    }
  }
}
