<template>
  <main>
    <section>
      <b-container>
        <b-col
          lg="8" offset-lg="2"
          id="page-header">
          <h2 v-html="$t('faq.title')"></h2>
          <p v-html="$t('faq.clic')"></p>
        </b-col>
      </b-container>
    </section>

    <section>
      <b-container>
        <b-row>
          <b-col lg="8" offset-lg="2">
            <div v-for="key in Object.keys($t(`faq`)).filter(i => !['title', 'clic'].includes(i))" :key="key"
              class="list-group"
              :id="key">
              <h2 v-html="$t(`faq.${key}.title`)"></h2>
              <div class="content-wrapper">
                <div
                  v-for="id in Object.keys($t(`faq.${key}`)).filter(i => !['title'].includes(i))"
                  :key="id"
                  :class="`list-group-item ${toggle === id ? 'active' : ''}`">
                  <a :href="`#${id}`" class="text-muted"
                    @click="toggle = id;">
                    <i v-if="toggle === id"
                      class="fa fa-chevron-up pull-right text-muted" aria-hidden="true"
                    ></i>
                    <i v-else
                      class="fa fa-chevron-down pull-right text-muted" aria-hidden="true"
                    ></i>
                  </a>
                  <h3
                    class="h4 list-group-item-heading"
                    @click="toggle = id;"
                  >
                    <a :id="id"></a>
                    <span v-html="$t(`faq.${key}['${id}'].q`)"></span>
                  </h3>
                  <div
                    v-show="id === toggle"
                    class="list-group-item-text">

                    <v-text :section="`faq.${key}['${id}'].a`" />
                  </div>
                </div>
              </div>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </section>
  </main>
</template>

<script>
  import VText from '../partials/V-Text.vue';

export default {
  components: {
    VText,
  },
  data() {
    return {
      toggle: window.location.hash.replace(/^#/, ''),
    }
  },
  methods: {
    toggleAccordion (section, index) {
      if (this[section][index]) {
        this.$set(this[section], index, false)
      } else {
        this[section] = this[section].map((v, i) => i === index)
      }
    }
  }
}
</script>

