<template>
  <main>
    <section>
      <b-container>
        <b-col id="page-header" lg="8" offset-lg="2">
          <h2 v-html="$t('hof.title')"></h2>
        </b-col>
      </b-container>
    </section>

    <section>
      <b-container>
        <b-row>
          <b-col lg="8" offset-lg="2">
            <h3 v-html="$t('hof.sponsors')"></h3>
            <div class="text-center">
              <a href="https://www.sudeducation.org/">
                <div class="thumbnail">
                  <img
                    :src="`${$t('/')}img/sponsors/sud-education.png`"
                    alt="Sud Éducation"
                  />
                </div>
              </a>
              <a href="https://agile-france.org/">
                <div class="thumbnail">
                  <img
                    :src="`${$t('/')}img/sponsors/agile-france.png`"
                    alt="Agile France"
                  />
                </div>
              </a>
            </div>

            <h3 v-html="$t('hof.donators')"></h3>
            <div
              v-for="(reward, j) in rewards"
              :key="j"
              :class="`bloc rwd${j + 1}`"
            >
              <div v-if="donators[`rwd-${reward}`].length > 0">
                <h4
                  class="sr-only"
                  v-html="$t(`home.funding.rewards['d${reward}'].title`)"
                ></h4>
                <ul class="list-inline text-center">
                  <li
                    v-for="(donator, index) in donators[`rwd-${reward}`]"
                    :key="index"
                    class="list-inline-item"
                    v-text="donator.nickname"
                  ></li>
                </ul>
              </div>
            </div>

            <h3 v-html="$t('hof.dev')"></h3>
            <div class="bloc rwd1">
              <ul class="list-inline text-center">
                <li class="list-inline-item">
                  tcit
                </li>
                <li class="list-inline-item">
                  mcpaccard
                </li>
                <li class="list-inline-item">
                  GeoffreyDorne
                </li>
                <li class="list-inline-item">
                  Chocobozzz
                </li>
                <li class="list-inline-item">
                  l-vincent-l
                </li>
                <li class="list-inline-item">
                  setop
                </li>
                <li class="list-inline-item">
                  lahax
                </li>
              </ul>
              <p class=" text-center">
                <b-button variant="secondary" :href="$t('git.mobilizon')">
                  <i class="fa fa-lg fa-gitlab" aria-hidden="true"></i>
                  <span v-html="$t('hof.contrib')"></span>
                </b-button>
              </p>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </section>
  </main>
</template>

<script>
export default {
  data() {
    // Init count and donators
    const rewards = [1, 42, 88];
    const donators = {};
    for (let j = 0; j < rewards.length; j += 1) {
      donators[`rwd-${rewards[j]}`] = [];
    }

    return {
      start: "2019-05-14",
      end: "2019-07-10",
      steps: [20000, 35000, 50000],
      activeStep: 0,
      list: [],
      rewards,
      donators,
    };
  },
  created() {
    if (!window.vuefsPrerender) {
      fetch("https://joinmobilizon.org/2019-mbz.json")
        .then((response) => response.json())
        .then((data) => {
          this.list = data.list;
          this.updateData();
        })
        .catch((err) => {
          console.error("Unable to load donations", err);
        });
    }
  },
  methods: {
    updateData() {
      // Fill donators
      for (let i = 0; i < this.list.length; i += 1) {
        if (
          !this.list[i].monthly &&
          new Date(this.start) < new Date(this.list[i].date.replace(/ /g, "T"))
        ) {
          for (let j = 0; j < this.rewards.length; j += 1) {
            if (
              this.list[i].don >= this.rewards[j] &&
              this.list[i].nickname !== "Anonymous"
            ) {
              if (j !== this.rewards.length - 1) {
                if (this.list[i].don < this.rewards[j + 1]) {
                  this.donators[`rwd-${this.rewards[j]}`].push(this.list[i]);
                }
              } else {
                this.donators[`rwd-${this.rewards[j]}`].push(this.list[i]);
              }
            }
          }
        }
      }
      this.rewards = this.rewards.reverse();
    },
  },
};
</script>
