<template>
  <main>
    <section>
      <b-container>
        <b-col
          lg="8" id="page-header">
          <h2 v-html="$t('medias.title')"></h2>
        </b-col>
      </b-container>
    </section>

    <section>
      <b-container>
        <b-row>
          <b-col lg="8">
            <div class="article">
              <h3 id="press" v-html="$t('medias.press.title')"></h3>
              <v-text :section="'medias.press'" />
            </div>
            <div class="article">
              <h3 id="visual" v-html="$t('medias.visual.title')"></h3>
              <b-carousel
                v-model="slide.square"
                :interval="0"
                controls
                indicators
                :label-prev="$t('carousel.prev')"
                :label-next="$t('carousel.next')"
                :label-goto-slide="$t('carousel.goto')"
                :label-indicators="$t('carousel.indicator')"
              >
                <b-carousel-slide v-for="(filename) in squares" :key="filename"
                  :img-src="`${$t('/')}img/${$route.meta.lang}/${filename}-mobilizon.png`"
                ></b-carousel-slide>
              </b-carousel>

              <h3 id="mockup" v-html="$t('medias.mockup.title')"></h3>
              <b-carousel
                v-model="slide.mockup"
                :interval="0"
                controls
                indicators
                :label-prev="$t('carousel.prev')"
                :label-next="$t('carousel.next')"
                :label-goto-slide="$t('carousel.goto')"
                :label-indicators="$t('carousel.indicator')"
              >
                <b-carousel-slide v-for="n in 3" :key="n"
                  :img-src="`${$t('/')}img/mockup/0${n}.jpg`"
                ></b-carousel-slide>
              </b-carousel>
            </div>
            <div class="article">
              <h3 id="speakabout" v-html="$t('medias.speakabout.title')"></h3>
              <p v-html="$t('medias.speakabout.intro')"></p>
              <table class="table" v-if="articles.length > 0">
                <thead class="thead-dark">
                  <tr>
                    <th v-html="$t('medias.speakabout.th1')" scope="col"></th>
                    <th v-html="$t('medias.speakabout.th2')" scope="col"></th>
                    <th v-html="$t('medias.speakabout.th3')" scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in articles" :key="item[3]">
                    <td v-html="(new Intl.DateTimeFormat($t('lang')).format(new Date(item[1])))"></td>
                    <td v-html="item[2]"></td>
                    <td><a :href="item[3]" :hreflang="item[0]" v-html="$t(item[4])"></a></td>
                  </tr>
                </tbody>
              </table>
              <div v-if="articles.length < 5 && allArticles.length > 0">
                <p v-html="$t('medias.speakabout.empty_lang')"></p>
                <table class="table" v-if="allArticles.length > 0">
                  <thead class="thead-dark">
                  <tr>
                    <th v-html="$t('medias.speakabout.th1')" scope="col"></th>
                    <th v-html="$t('medias.speakabout.th2')" scope="col"></th>
                    <th v-html="$t('medias.speakabout.th3')" scope="col"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="item in allArticles" :key="item[3]">
                    <td v-html="(new Intl.DateTimeFormat($t('lang')).format(new Date(item[1])))"></td>
                    <td v-html="item[2]"></td>
                    <td>
                      <a :href="item[3]" :hreflang="item[0]">
                        <span v-html="$t(item[4])"></span>
                        <span v-if="item[0] !== $t('lang')">[{{ item[0] }}]</span>
                      </a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="article">
              <h3 id="about" v-html="$t('medias.about.title')"></h3>
              <ul>
                <li v-for="item in $t('medias.about.ul')" v-html="item" :key="item"></li>
              </ul>
              <b-card no-body class="overflow-hidden">
                <b-row no-gutters>
                  <b-col md="4" class="bg-light d-flex align-items-center">
                    <b-card-img :src="`${$t('/')}img/biglogo-notxt.png`" class="rounded-0"></b-card-img>
                  </b-col>
                  <b-col md="8">
                    <b-card-body title="Framasoft">
                      <b-card-text>
                        <p v-html="$t('medias.about.p[0]')"></p>
                        <p v-html="$t('medias.about.p[1]')"></p>
                      </b-card-text>
                    </b-card-body>
                  </b-col>
                </b-row>
              </b-card>
            </div>
          </b-col>
          <!-- Right column -->
          <b-col lg="4">
            <div class="sticky-top">
              <div class="bloc">
                <nav>
                  <ul>
                    <li v-for="key in Object.keys($t('medias')).filter(i => !['title'].includes(i))" :key="key">
                      <a :href="`#${key}`"
                        v-html="$t(`medias.${key}.title`)"
                      ></a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </section>
  </main>
</template>

<script>
import VText from '../partials/V-Text.vue';

export default {
  components: {
    VText,
  },
  data() {
    return {
      slide: {
        banner: 0,
        square: 0,
        mockup: 0,
      },
      squares: [
        'action',
        'care',
        'change',
        'common',
        'concieved',
        'control',
        'events',
        'freed',
        'software-to-the-people',
      ],
    }
  },
  computed: {
    articles() {
      return this.$t('medias.speakabout.list').filter((article) => {
        return article[0] === this.$t('lang') || (article[0] === 'en' && this.$t('lang') !== 'fr');
      });
    },
    allArticles() {
      return this.$t('medias.speakabout.list').filter((article) => {
        return article[0] !== this.$t('lang');
      });
    }
  },
}
</script>
