<template>
  <main>
    <section>
      <b-container>
        <b-col id="page-header">
          <h2 v-html="$t('news.title')"></h2>
          <p v-html="$t('news.subtitle')"></p>
        </b-col>
      </b-container>
    </section>

    <section>
      <b-container>
        <b-row>
          <b-col lg="8">
            <div v-for="key in Object.keys($t('news.blocs'))" :key="key"
              :id="key" class="article">
              <img class="img-fluid" :src="`${$t('/')}img/news/${key}.jpg`" alt="" />
              <div class="content-wrapper">
                <h3>
                  <a :href="`#${key}`" v-html="$t(`news.blocs.${key}.title`)"></a>
                </h3>
                <p class="text-muted small">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <time :datetime="`20${key}`">{{ `20${key}` | moment('ll') }}</time>
                </p>
                <article>
                  <v-text :section="`news.blocs.${key}.text`" />
                </article>
              </div>
            </div>
          </b-col>
          <!-- Right column -->
          <b-col lg="4">
            <div class="sticky-top">
              <div class="bloc">
                <nav>
                  <h3 v-html="$t(`news.last-post`)"></h3>
                  <ul>
                    <li v-for="key in Object.keys($t('news.blocs')).slice(0, 5)" :key="key"
                      :id="key">
                      <a :href="`#${key}`"
                        v-html="$t(`news.blocs.${key}.title`)"
                      ></a>
                      <time class="text-muted small" :datetime="`20${key}`">
                        {{ `20${key}` | moment('ll') }}
                      </time>
                    </li>
                  </ul>
                </nav>
              </div>
              <div class="bloc">
                <h3 v-html="$t('home.funding.share')"></h3>
                <ShareAndFollow />
              </div>
              <!--<div class="bloc">
                <p>
                  <b-button block size="lg" variant="primary"
                    :href="`${$t('baseurl')}${$t('lang')}/#support`"
                    v-b-modal.support
                    rel="noopener noreferrer"
                    v-html="$t('form.step1.title')"
                  ></b-button>
                </p>
              </div>-->
            </div>
          </b-col>
        </b-row>
      </b-container>
    </section>
  </main>
</template>

<script>
import VText from '../partials/V-Text.vue';
import ShareAndFollow from '../partials/ShareAndFollow.vue';

export default {
  components: {
    ShareAndFollow,
    VText,
  },
}
</script>
