<template>
  <div id="project">
    <h3>
      <span v-for="(tag, index) in $t('home.intro.tags')" :key="index">
        {{ tag }}
        <span v-if="index < $t('home.intro.tags').length - 1"> ⋅ </span>
      </span>
    </h3>
    <div v-for="(p, index) in $t('home.project.p')" :key="index">
      <p v-if="index === 0">
        <img
          :src="`${$root['/']}img/process.svg`" height="200"
          alt="" class="pull-right">
        <span v-html="$t(`home.project.p[${index}]`)"></span>
      </p>
      <p v-else
        v-html="$t(`home.project.p[${index}]`)">
      </p>

      <figure v-if="index === 1" class="figure">
        <img :src="`${$root['/']}img/mockup/event.gif`" alt="" style="width:100%;" />
        <!--<video
          :poster="`${$root['/']}img/mockup/event.jpg`"
          autoplay muted loop
          class="img-fluid figure-img">
          <source :src="`${$root['/']}img/mockup/event.webm`" type="video/webm" />
          <source :src="`${$root['/']}img/mockup/event.mp4`" type="video/mp4">
          <img :src="`${$root['/']}img/mockup/event.jpg`" alt="" style="width:100%;" />
        </video>-->
        <figcaption class="figure-caption text-center" v-html="$t('home.project.caption[0]')"></figcaption>
      </figure>
      <figure v-if="index === 2" class="figure">
        <img :src="`${$root['/']}img/mockup/page_groupe.gif`" alt="" style="width:100%;" />
        <!--<video
          :poster="`${$root['/']}img/mockup/page_groupe.jpg`"
          autoplay muted loop
          class="img-fluid figure-img">
          <source :src="`${$root['/']}img/mockup/page_groupe.webm`" type="video/webm" />
          <source :src="`${$root['/']}img/mockup/page_groupe.mp4`" type="video/mp4">
          <img :src="`${$root['/']}img/mockup/page_groupe.jpg`" alt="" style="width:100%;" />
        </video>-->
        <figcaption class="figure-caption text-center" v-html="$t('home.project.caption[1]')"></figcaption>
      </figure>

    </div>
  </div>
</template>
