<template>
  <section class="timeline">
    <b-container id="timeline">
      <b-row align-v="center">
        <b-col sm="12">
          <h3 id="roadmap" v-html="$t('home.timeline.title')"></h3>
        </b-col>
        <b-col md="6">
          <b-img
            fluid-grow
            rounded
            center
            alt=""
            :src="`${$root['/']}img/Services_Mobilizon.jpg`"
          />
        </b-col>
        <b-col md="6">
          <ul>
            <li
              v-for="(event, key, index) in $t('home.timeline.events')"
              :key="key"
              :class="`li-${index < 6 ? 'current' : 'mobilizon'}`"
            >
              <div>
                <b-badge
                  pill
                  :variant="index < 6 ? 'secondary' : 'primary'"
                  v-html="event.date"
                />
                <p v-html="event.text"></p>
              </div>
            </li>
          </ul>
        </b-col>
      </b-row>
    </b-container>
  </section>
</template>

<script>
export default {
  mounted() {
    // check if an element is in viewport
    // http://stackoverflow.com/questions/123999/how-to-tell-if-a-dom-element-is-visible-in-the-current-viewport
    // listen for events
    this.callbackFunc();
    window.addEventListener("resize", this.callbackFunc);
    window.addEventListener("scroll", this.callbackFunc);
  },
  methods: {
    isElementInViewport(el) {
      const rect = el.getBoundingClientRect();
      return (
        rect.top >= 0 &&
        rect.left >= 0 &&
        rect.bottom <=
          (window.innerHeight || document.documentElement.clientHeight) &&
        rect.right <=
          (window.innerWidth || document.documentElement.clientWidth)
      );
    },
    callbackFunc() {
      const items = document.querySelectorAll(".timeline li:not(.in-view)");
      for (let i = 0; i < items.length; i += 1) {
        if (this.isElementInViewport(items[i])) {
          items[i].classList.add("in-view");
        }
      }
    },
  },
};
</script>
