<template>
  <b-row align-v="center">
    <b-col lg="7" class="donut">
      <la-polar
        :data="paliers[palier-1].values" :colors="paliers[palier-1].colors"
        :width="300" :height="290">
        <la-pie prop="pv"  show-label label-prop="name" :radius="[60, 100]"></la-pie>
      </la-polar>
    </b-col>
    <b-col lg="5" class="legend">
      <ul class="list-unstyled text-left">
        <li v-for="i in paliers[palier-1].values.length" :key="i">
          <i class="fa fa-circle"
            :style="`color: ${paliers[palier-1].colors[i-1]};`"
            aria-hidden="true"
          ></i>
          <span v-html="$t(`home.allocation.expenses[${i-1}]`)"></span>
          <b v-html="`${paliers[palier-1].values[i-1].name}`"></b>
        </li>
      </ul>
    </b-col>
  </b-row>
</template>

<script>
import { Polar, Pie, } from 'laue';
export default {
  components: {
    LaPolar: Polar,
    LaPie: Pie,
  },
  props: {
    palier: {
      type: Number,
      required: true,
    },
  },
  data: () => ({
    paliers: [
      {
        goal: 20000,
        values: [
          { name: 'A', pv: 600 },
          { name: 'B', pv: 10000 },
          { name: 'C', pv: 2000 },
          { name: 'D', pv: 4400 },
          { name: 'E', pv: 3000 },
        ],
        colors: ['#C2281B', '#ff4133', '#ff7061', '#ff9b90', '#ffd4d0', '#ffeeec'],
        // greyscale: 28, 46, [55], 69, 90, 95
      },
      {
        goal: 35000,
        values: [
          { name: 'A', pv: 1050 },
          { name: 'B', pv: 10000 },
          { name: 'C', pv: 14500 },
          { name: 'D', pv: 5250 },
          { name: 'E', pv: 4200 },
        ],
        colors: ['#853C17', '#a46926', '#fbb12c', '#fcc86b', '#ffddbe', '#fff8f1'],
        // greyscale: 28, 44, [72], 80, 88, 97
      },
      {
        goal: 50000,
        values: [
          { name: 'A', pv: 1500 },
          { name: 'B', pv: 12500 },
          { name: 'C', pv: 25000 },
          { name: 'D', pv: 6000 },
          { name: 'E', pv: 5000 },
        ],
        colors: ['#156B24', '#429E55', '#78cc8a', '#a1dbad', '#d7f0dc', '#eff9f1'],
        // greyscale: 33, 52, [71], 80, 91, 96
      },
/*      {
        values: [
          { name: 'A', pv: 5 },
          { name: 'B', pv: 28 },
          { name: 'C', pv: 7 },
          { name: 'D', pv: 40 },
          { name: 'E', pv: 10 },
          { name: 'F', pv: 20 },
        ],
        colors: ['#106D85', '#1697b9', '#36bcd4', '#6cddff', '#b8efff', '#e7f7fa'],
        // greyscale: 36, 49, [63], 78, 89, 95
      },*/
    ]
  }),
  created() {
    for (let i = 0; i < this.paliers.length; i += 1) {
      for (let j = 0; j < this.paliers[i].values.length; j += 1) {
        this.paliers[i].values[j].name = `${Math.round(this.paliers[i].values[j].pv * 100 / this.paliers[i].goal)}%`;
      }
    }
  }
};
</script>
